body {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 4rem;
}
.bar {
  margin-top: 2rem;
  display: flex;
  gap: 6px;
}
.searchBar {
  width: 30rem;
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 0;
  text-align: center;
  height: 100%;
  padding: 8px;
  justify-content: center;
  align-items: center;
  background-color: #36454f;
  border: none;
  cursor: pointer;
}
#search {
  padding-left: 0.5rem;
  outline: none;
  width: 100%;
  height: 2rem;
  color: black;
  font-size: larger;
  padding-right: 2.6rem;
  border: 1.7px solid #343434;
}
.addBtn {
  padding: 0 2rem;
  border: none;
  background-color: #1b1212;
  color: white;
  font-size: 1rem;
  letter-spacing: 3px;
  box-shadow: 1px 1px 5px grey;
  cursor: pointer;
}
.todoList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 2rem;
  padding-bottom: 5rem;
}
.todoItem,.addItem {
  width: 15rem;
  height: 16rem;
  box-shadow: 1.5px 1.5px 4px #353935;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.itemInfo,.additemInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.1rem;
  align-items: center;
  text-align: center;
}
.itemInfo span{
  font-size: 0.95rem;
}
.itemInfo .title{
font-size: 1.5rem;
/* margin-bottom: 1.5rem; */
text-transform: uppercase;
}
.itemInfo .description{
  color: grey;
}
.itemInfo .priority{
  font-size: 1.2rem;
}
.itemInfo .priorityHigh{
  color: #FF8A8A;
}
.itemInfo .priorityMedium{
  color: #0096FF;
}
.itemInfo .priorityLow{
  color: #36454F;
}

.itemAction,.additemAction {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.6rem;
}
.deleteBtn,
.editBtn {
  padding: 0.4rem 1.5rem;
  border-radius: 0.3rem;
  border: 1px solid;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1.1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.deleteBtn {
  background-color: #d2042d;
  &:hover{
    background-color: white;
    border: 1px solid #d2042d;
    color: black;
  }
}
.editBtn{
    background-color: #89CFF0;
    &:hover{
    background-color: white;
    border: 1px solid #89CFF0;
    color: black;
  }
}
.additemInfo input{
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 2px solid grey;
  outline: none;
}
.additemAction{
  margin-top: 1.1rem;
}
.addItem{
  height: max-content;
  padding-bottom: 1.1rem;
  background-color: white;
  border-radius: 10px;
}
.addOverlayWrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: rgba(0, 0, 0, 0.15);

}
@media (width >= 1024px) {
  .searchIcon {
    right: 0;
  }
}

@media (width <= 1023px) {
  .todoList{
    grid-template-columns: 1fr 1fr;
  }
  .searchIcon {
    left: 0;
  }
  #search{
    padding-left: 2.5rem;
  }
}
@media (320px <= width <= 767px) {
  .addBtn{
    padding: 0.5rem 2rem;
  }
  .bar{
    flex-direction: column;
    align-items: center;
    gap:0.8rem;
  }
  .searchBar {
    width: 15rem;
  }
  .todoList{
    grid-template-columns: 1fr;
  }
}